<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>
<title>App | Api</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<h3>Use buttons below to make the api call </h3>
<input type="text" name="textfield" id="textfield" value="Project issue"/>
<input name="" type="button" id="apiBtn" value="make api call">
<div><input name="" type="button" id="issueBtn" value="Get issues"></div>
<div id="stackOverflowOutput">
</div>
<div id="sonarQubeOutput">
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>

    function populateOutput(apiReturn,element) {
        document.getElementById(element).innerHTML = apiReturn;
    }

    function callApi(passedIn) {
        var apiUrl = "/stack-api/" + $("#textfield").val()
        $.get(apiUrl, function (data, status) {
            console.log(data)
            console.log(status)
            populateOutput(data,"stackOverflowOutput")
        });
    }

    function test()
    {
        console.log("test")
        $('#textfield').val("OKAY!");
    }

    $(function () {
        $("#apiBtn").click(function () {
            callApi();
        });
        $("#issueBtn").click(function () {
            var apiUrl = "/sonar-api";
            $.get(apiUrl, function (data) {
                console.log(data)
                var output = ""
                for(var stuff in data)
                {   console.log(data[stuff])
                    var string = data[stuff]["message"]
                    output = output + "<br> " + string +"<input  name=\"\" id=\'lol"+ stuff +"\' type=\'button\' value=\'Find solution\' onclick='test()'>"}
                populateOutput(output,"sonarQubeOutput")
            });
        });
    });
</script>
</html>