<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<title>App | Api</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<h3>Use buttons below to make the api call </h3>
<input type="text" name="textfield" id="textfield" value="Project issue" />
<input name="" type="button" id ="apiBtn" value="make api call">
<div id = "parsedJson">
    <p>Filler</p>
</div>
<input type="button"  onclick="location.href='/register.htm'" value="Register" >
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>

    function populateOutput(apiReturn) {

        $("#parsedJson").append("<p>" + apiReturn + "</p>");
    }

    function newCallApi()
    {
        var apiUrl =  "/call-api/" + $("#textfield").val()
        $.get(apiUrl,function(data, status){console.log(data);populateOutput(data)});

    }

    $(function () {
        $( "#apiBtn" ).click(function(){newCallApi();});
    });
</script>
</html>