<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<head>
    <title>App | Home</title>
</head>
<body>
<h1>Welcome!</h1>
<p>Please sign in below</p>
<a href="@{/api}" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Login</a>
</body>
</html>