.App {
  text-align: center;
}

.App-header {
  background-color: #333;
  height: 50px;
  padding: 2px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-family: "Consolas";
}

.App-intro {
  font-size: large;
}
